body {
	margin: 0;
	padding: 0;
	background: #666;
}
p{text-indent: 30px}

#header, #footer {
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	vertical-align: center;
}

#wrap { 
	display: table;
	width: 100%;
}

#leftbar {
	font-weight: bold;
	background: #fff;
	display: table-cell;
	width: 250px;
	min-width: 250px;
	border-right: 10px solid #666;


}

#leftbar ul>li {
	font-weight: normal;
}

#main {
	background: yellow;
	padding-left: 30px;
	display: table-cell;
}

#main img {
	padding-left: 30px;
	float: right;
	width: 150px;
	height: auto;
}

